#frameSize {
    width: 90%;
    margin: auto;
    padding: 5px;
    height: 15%;
    font-size: 15pt;
    border-radius: 10px;
    border: 2px solid #2dcc70;
    text-align: center;
}

#frameSize:focus {
    outline-width: 0;
}
