#step_1_input__frame-size {
    width: 90%;
    margin: auto;
    padding: 5px;
    height: 15%;
    font-size: 15pt;
    border-radius: 10px;
    border: 2px solid #2dcc70;
    text-align: center;
}

#step_1_input__frame-size:focus {
    outline-width: 0;
}

.step_1_button__proceed {
    height: 20%;
    background-color: #4caf50;
    cursor: pointer;
}
