.step2_button {
  --step2-bg-color: #2dcc70;
}

.step2_button {
    background-color: var(--step2-bg-color);
    cursor: pointer;
}

.step2_button:hover {
    animation: pulse_animation 1s linear infinite;
	transform-origin:50% 50%;
    background-color: var(--step2-bg-color);
}
