.step3_button {
  --step3-bg-color: #f4d03e;
}

.step3_button {
    border-radius: 50%;
    background-color: var(--step3-bg-color);
    animation: pulsar 1s linear infinite;
    transform-origin:50% 50%;
    transition: all .5s;
}

.step3_button:hover {
    background-color: var(--step3-bg-color);
}

#timer {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-left: -95px;
    margin-top: -15px;
    text-align: center;
    border-radius: 50%;
}

@-webkit-keyframes pulsar {
  0% {
    border-width:2.5px;
    border-color:rgba(0,0,0,0.1);
    border-style:dotted;
  }
  25% {
      border-width:5px;
      border-style:dashed;
  }
  50% {
      border-width:7.5px;
      border-style:dotted;
  }
  75% {
      border-width:5px;
      border-style:dashed;
  }
  100% {
      border-width:2.5px;
      border-color:rgba(0,0,0,0.1);
      border-style:dotted;
  }
}
